<div id="main_body">
	<h1>用户名单</h1>
<div class="rails_app_pagination"><%= will_paginate %></div>

<table>
  <tr>
  	<th>#</th>
    <th>名字</th>
    <th>登录名</th>
    <th>状态</th>
    <th>职位</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.id.to_s, SUBURI + "/view_handler?index=1&url=#{user_path(user)}" %></td>  	
      <td><%= user.name %></td>
      <td><%= user.login %></td>
      <td><%= user.status %></td>
      <td><%= return_user_positions(user) %></td>
      <td><%= link_to "Edit", SUBURI + "/view_handler?index=1&url=#{edit_user_path(user)}" %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "创建新用户", SUBURI + "/view_handler?index=1&url=#{new_user_path}" %></p>
</div>

