<div id="main_body">
	<h1>系统记录</h1>
<div class="rails_app_pagination"><%= will_paginate %></div>
<table>
  <tr>
  	<th>#</th>
    <th>日期</th>
    <th>用户名</th>    
    <th>用户#</th>
    <th>IP</th>
    <th>内容</th> 
  </tr>
  <% @sys_logs.each do |r| %>
    <tr>
      <td><%= r.id %></td>
      <td><%= r.log_date %></td>      
      <td><%= r.user_name %></td>
      <td><%= r.user_id %></td>
      <td><%= r.user_ip %></td>
      <td><%= r.action_logged %></td> 
 
    </tr>
  <% end %>
</table>
<p>
<%= link_to '返回', SUBURI + "/view_handler?index=0" %> |
<%= link_to '按用户#排序', SUBURI + "/view_handler?index=1&url=#{sort_by_user_id_sys_logs_path}" %>
<%= link_to '按IP排序', SUBURI + "/view_handler?index=1&url=#{sort_by_ip_sys_logs_path}" %>
</p>
</div>
