<header>
	<%= image_tag("by-logo.jpg") %>
	<nav>
		<ul>
			<li><%= link_to "主菜单", user_menus_path %>|</li>
			<li><%= link_to "搜索", '#' %>|</li>
			<li><%= link_to '记事薄', '#' %>|</li>
			<li><%= link_to '告示栏', '#' %>|</li>
			<li><%= link_to "退出", signout_path %></li>
		</ul>
	</nav>
</header>
